.container {
  width: 100vw;
  background-color: #202226;
  display: flex;
}

.left {
  background-color: #202226;
  color: #DFDDD9;
  min-height: 100vh;
}

.right {
  background-color: #FAF9F5;
  color: rgb(51,51,51);
}

.left, .right {
  width: 50vw;
  position: relative;
}

.avator {
  border-radius: 50%;
}

.avator-container {
  position: absolute;
  right: 200px;
  top: 250px;
}

.title-container {
  margin: 275px 0 0 100px;
  width: 400px;
}

.title-container .title {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  font-size: 40px;
  font-family: Montserrat,sans-serif;
  line-height: 1.1;
  font-weight: 900;
}

.title-container .subTitle {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  font-size: 1.4em;
}

.article-item {
  margin-top: 112px;
  margin-bottom: 112px;
  font-family: "Merriweather","Georgia","serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.article-item {
  position: relative;
}

.article-item-date {
  position: absolute;
  height: 100%;
  left: -200px;
  color: #DFDDD9;
}

.article-item-info {
  margin-left: 100px;
}

.article-item-title {
  font-size: 23.08319849451542px;
  font-family: Montserrat,sans-serif;
  line-height: 1.1;
  font-weight: 900;
}

.article-item-desc {
  padding-top: 7px;
  font-size: 16px;
  opacity: 0.8;
  margin: 0;
}

.article-type {
  font-size: 16px;
  font-weight: 900;
  font-family: Montserrat,sans-serif;
  line-height: 1.1;
}